.carousel-img {
  height: 400px;
}
.carousel-item {
  padding: 5px;
}
.slick-arrow.slick-prev {
  left: 20px !important;
  z-index: 1000;
  box-shadow: 0px 0px 8px rgba(40, 41, 40, 0.8);
  background-color: rgba(40, 41, 40, 0.4);
  border-radius: 50%;
}
.slick-arrow.slick-next {
  right: 20px !important;
  z-index: 1000;
  box-shadow: 0px 0px 8px rgba(40, 41, 40, 0.8);
  background-color: rgba(40, 41, 40, 0.4);
  border-radius: 50%;
}
