.filter-input {
  margin-right: 0px !important;
}
.search {
  margin-top: 10px;
  box-shadow: none;
}
.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-sizeSmall.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  margin-right: 0px !important;
}
.filter-input1,
.filter-input2 {
  margin-right: 0px !important;
}
.filter-input1
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-sizeSmall.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.filter-input2
  .MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-sizeSmall.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
