body {
  padding: 20px;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}
